body {
    --chatbar-height: 47px; /* height of the chatbar (52px by default, 47px to align it with the user panel) */
    --chatbar-padding: 8px; /* padding of the chatbar */

    --custom-channel-textarea-text-area-height: var(--chatbar-height);
}

@property --custom-chatbar {
    syntax: 'off | aligned | separated';
    inherits: false;
    initial-value: aligned;
}

@container body style(--custom-chatbar: aligned) {
    .visual-refresh {
        .f75fb00fb7356cbe-form {
            margin: 0 var(--chatbar-padding) var(--chatbar-padding) var(--chatbar-padding);
            padding: 0 !important;
            --chatbar-border-color: var(--border-faint);
        }
        .f75fb00fb7356cbe-channelTextArea {
            margin: 0;
            border-color: var(--chatbar-border-color);
            transition: none;
        }
        .b8880176888cc928-base {
            top: -24px;
            left: 0;
            right: 0;
            background-color: var(--chat-background-default);
            padding: 0 8px;
            border-radius: var(--radius-md) var(--radius-md) 0 0;
            border: 1px solid var(--chatbar-border-color);
            border-bottom: none;
            transition: none;
            box-sizing: border-box;
        }
        ._740174f3d6a2c8fe-stackedBars,
        ._841c8f861f7b2704-threadSuggestionBar {
            border-color: var(--chatbar-border-color) !important;
        }
        ._740174f3d6a2c8fe-stackedBars {
            background: none !important;
        }
        .f75fb00fb7356cbe-form:has(.b8880176888cc928-base) {
            .f75fb00fb7356cbe-channelTextArea,
            ._44df51b030bd5ece-wrapper {
                border-radius: 0 0 var(--radius-md) var(--radius-md);
            }
        }
        .f75fb00fb7356cbe-form:has(._740174f3d6a2c8fe-channelTextArea:focus-within) {
            --chatbar-border-color: var(--border-subtle);
        }
        ._36d072eab2b2e737-scrollerSpacer {
            height: calc(24px + var(--chatbar-padding));
        }
        ._36d072eab2b2e737-scroller::-webkit-scrollbar-track {
            margin-bottom: calc(20px + var(--chatbar-padding));
        }
        ._0f481cbbd7530492-bottomBar {
            margin-bottom: 24px;
        }
        ._44df51b030bd5ece-wrapper /* phone verification bar */ {
            margin: 0;
            border-radius: var(--radius-md);
        }
    }
}

@container body style(--custom-chatbar: separated) {
    .visual-refresh {
        .f75fb00fb7356cbe-chatContent {
            background: none;
            border-radius: 0;
            border: none;
            backdrop-filter: none;
        }
        ._36d072eab2b2e737-messagesWrapper {
            background-color: var(--background-base-lower);
            border-radius: var(--radius-lg);
            border: var(--border-thickness) solid var(--border-subtle);
            backdrop-filter: var(--panel-backdrop-filter);
            transition: border-color var(--border-hover-transition);

            &:hover {
                border-color: var(--border-hover);
            }
        }
        ._36d072eab2b2e737-scrollerSpacer {
            height: calc(26px + var(--space-xs));
        }
        ._36d072eab2b2e737-scroller::-webkit-scrollbar-track {
            margin-bottom: calc(26px);
        }
        .f75fb00fb7356cbe-chatContent:has(.b8880176888cc928-typing) ._36d072eab2b2e737-messagesWrapper::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: var(--background-base-lower);
            height: 26px;
            border-radius: 0 0 var(--radius-lg) var(--radius-lg);
            z-index: 2;
        }
        .f75fb00fb7356cbe-form {
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 100%;
            margin-top: 0;
        }
        .b8880176888cc928-typing {
            position: absolute;
            order: -1;
            top: calc(-26px + var(--border-thickness) * -1);
            left: calc(var(--border-thickness));
            border-radius: 0 0 0 var(--radius-lg);
            padding: 0 0 0 var(--space-sm);
            height: 26px;
        }
        .f75fb00fb7356cbe-channelBottomBarArea {
            margin-top: var(--gap);
        }
        .f75fb00fb7356cbe-channelTextArea {
            margin: 0;
            background-color: var(--background-base-lower);
            border-radius: var(--radius-lg);
            border: var(--border-thickness) solid var(--border-subtle);
            backdrop-filter: var(--panel-backdrop-filter);
            transition: border-color var(--border-hover-transition);

            &:hover {
                border-color: var(--border-hover);
            }
        }
        ._740174f3d6a2c8fe-stackedBars {
            background: none !important;
        }
        ._44df51b030bd5ece-wrapper {
            margin: var(--gap) 0 0 0;
            height: var(--chatbar-height);
            padding: 0;
            border-radius: var(--radius-lg);
            border: var(--border-thickness) solid var(--border-subtle);
            backdrop-filter: var(--panel-backdrop-filter);
            transition: border-color var(--border-hover-transition);

            &:hover {
                border-color: var(--border-hover);
            }
        }
    }
}
